[submodule "ros2_ws/src/navigation2"]
	url = https://github.com/ros-planning/navigation2.git
[submodule "ros2_ws/src/ros2_bubble_rob"]
	url = https://github.com/CoppeliaRobotics/ros2_bubble_rob.git
[submodule "ros2_ws/src/simExtROS2"]
	url = https://github.com/CoppeliaRobotics/simExtROS2.git
[submodule "ros2_ws/src/slam_toolbox"]
	url = https://github.com/SteveMacenski/slam_toolbox.git
[submodule "ros2_ws/src/teleop_tools"]
	url = https://github.com/ros-teleop/teleop_tools.git
