[submodule "ros2_ws/src/external/simExtROS2"]
	path = ros2_ws/src/external/simExtROS2
	url = https://github.com/CoppeliaRobotics/simExtROS2.git
[submodule "ros2_ws/src/external/slam_toolbox"]
	path = ros2_ws/src/external/slam_toolbox
	url = https://github.com/SteveMacenski/slam_toolbox.git
[submodule "ros2_ws/src/external/ros2_bubble_rob"]
	path = ros2_ws/src/external/ros2_bubble_rob
	url = https://github.com/CoppeliaRobotics/ros2_bubble_rob.git
[submodule "ros2_ws/src/external/pointcloud_to_laserscan"]
	path = ros2_ws/src/external/pointcloud_to_laserscan
	url = https://github.com/giulioturrisi/pointcloud_to_laserscan.git
[submodule "ros2_ws/src/external/kiss-icp"]
	path = ros2_ws/src/external/kiss-icp
	url = https://github.com/PRBonn/kiss-icp.git
